.box {
    position: absolute;
    left: 8px;
    top: 8px;
    bottom: 8px;
    right: 8px;
    height: 50px;

    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: 1px;
}

.left {
    float: left;
    font-size: 25px;
    color: rgb(50, 50, 50);
    padding-left: 9px;
    margin-top: -2px;
}

.right {
    float: right;
    font-size: 25px;
    padding-right: 9px;
    color: rgb(100, 100, 100);
    margin-top: -2px;
}

button {
    background-color: white;
    padding: 0;
    margin: 0;
}